@import "blocks/header";
@import "blocks/promo";
@import "blocks/slick";
@import "blocks/search";
@import "blocks/categories";

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:active, 
a:focus,
a {
    text-decoration: none;
    outline: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    color: #2f3035;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}