 .footer{
   span{
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
   }
  background-color:#F0F0F4;
  &__wrapper{
    padding-top: 43px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 996px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and (max-width: 667px) {
      flex-direction: column;
      align-items: center;
    }
    & > div {
      @media screen and (max-width: 996px) {
        margin-bottom: 25px;
      }
    }
  }

  &__subscribe{
    width: 270px;
    &-form{
      padding-top: 34px;
      display: flex;
      justify-content: space-between;
    }
    &-text{
        @media screen and (max-width: 996px) {
          text-align: center;
        }
    }
    &-input{
      background: #FFFFFF;
      border: none;
      outline: none;
      padding: 8px 0 8px 12px;
      &::placeholder{
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #C4C4C4;
      }
    }
    &-btn{
      background: #1C62CD;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 12px 16px;
      border: none;
      @media screen and (max-width: 996px) {
        font-size: 10px;
        padding: 10px 12px;
      }
    }
  }

  &__policy{
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
    &-link{
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #48494D;
      margin: 0 40px;
      @media screen and (max-width: 667px) {
        margin: 0 15px;
        margin-bottom: 12px;
      }
    }
    @media screen and (max-width: 667px) {
      flex-direction: column;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-size: 14px;
    @media screen and (max-width: 667px) {
      width: 100%;
    }
    &-title{
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      @media screen and (max-width: 667px) {
        padding: 16px 60px 16px 16px;
        border-top: 2px solid #d0d0d4;
        border-bottom: 2px solid #d0d0d4;
      }
    }
    &-wrapper{
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 667px) {
        padding: 16px 0 0 16px;
      }
    }
    
  }
  &__shop{
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-size: 14px;
    @media screen and (max-width: 667px) {
      width: 100%;
    }
    &-wrapper{
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 667px) {
        padding: 16px 0 0 16px;
      }
    }
    &-title{
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      @media screen and (max-width: 667px) {
        padding: 16px 60px 16px 16px;
        border-top: 2px solid #d0d0d4;
        border-bottom: 2px solid #d0d0d4;
      }
    }
    &-wrapper{
      display: flex;
      flex-direction: column;
    }
    @media screen and (max-width: 667px) {
      
    }
  }
  &__social{
    width: 250px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 667px) {
      width: 100%;
      justify-content: center;
    }
    &-icon{
      & + .footer__social-icon{
        margin-left: 30px;
      }
    }
  }

}